.figures {
    width: 100px;
    height: 100px;

    margin: 5px;
    transition: all .2s;
    border-radius: 0%;
    clip-path: polygon(36% 0, 0 0, 0 29%, 0 57%, 0 100%, 30% 100%, 73% 100%, 100% 100%, 100% 59%, 100% 31%, 100% 0, 74% 0); 
}
.figures-container{
    background: white;
    border: 1px solid black;
    margin: 2px;
    transition: 0.3s;
}

.figures-container:hover{
    transform: scale(1.05);
}
.figures--X {
    background-color:darkturquoise;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.figures--O {
    background-color:mediumorchid;
    border-radius: 50%;
}
.figures--X.winner{
    animation: x-winner-animation infinite 3s ease-in-out;
}
.figures--O.winner{
    animation: o-winner-animation infinite 3s ease-in-out;
}

@keyframes x-winner-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes o-winner-animation {
    0% { border-radius: 50%;}
    50% { border-radius: 0%;}
    100% { border-radius: 50%;}
}